<div class="grid-container">
  <h1 mat-dialog-title>Atualizar dados de alocação</h1>

  <form name="form" [formGroup]='alocacaoForm'>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Ano</mat-label>
          <mat-select formControlName="ano" [(ngModel)]="alocacao.ano" required>
            <mat-option value="{{ ano }}">{{ ano }}</mat-option>
            <mat-option value="{{ ano+1 }}">{{ ano+1 }}</mat-option>
            <mat-option value="{{ ano+2 }}">{{ ano+2 }}</mat-option>
            <mat-option value="{{ ano+3 }}">{{ ano+3 }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Semestre</mat-label>
          <mat-select formControlName="semestre" [(ngModel)]="alocacao.semestre" required>
            <mat-option value="1">1o Semestre</mat-option>
            <mat-option value="2">2o Semestre</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Horas solicitadas</mat-label>
          <input type='number' min="1" [(ngModel)]="alocacao.horasSolicitadas" formControlName="horasSolicitadas"
            matInput disabled placeholder="Qtd" name="alocacao.horasSolicitadas" required readonly>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button mat-button (click)="onNoClick()" style="margin-right: 10px;" color="warn">Cancelar</button>
        <button mat-button (click)="updateAlocacao()"> Salvar </button>
      </div>
    </div>
  </form>
</div>