<div class="grid-container">
  <h1 class="mat-h1">Submeter atividade</h1>
  <mat-card class="shipping-card">
    <mat-accordion class="expand">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Convênios </mat-panel-title>
          <mat-panel-description>
            Submeter atividades de convênios
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="convenioForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Título do Projeto (obrigatório):</mat-label>
                    <input matInput placeholder="Título do Projeto (obrigatório)" formControlName="projeto" />
                    <mat-error *ngIf="
                        convenioForm.controls['projeto'].hasError('required')
                      ">
                      Nome ou titulo do projeto <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino (obrigatório):</mat-label>
                    <input matInput placeholder="Instituição de Ensino (obrigatório)" formControlName="instituicao" />
                    <mat-error *ngIf="
                        convenioForm.controls['instituicao'].hasError(
                          'required'
                        )
                      ">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) (obrigatório):</mat-label>
                    <input matInput placeholder="Coordenador(a) (obrigatório)" formControlName="coordenador" />
                    <mat-error *ngIf="
                        convenioForm.controls['coordenador'].hasError(
                          'required'
                        )
                      ">
                      Nome do coordenador(a) <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Participação (obrigatório):
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="tipoAtividadeSimultanea">
                  <mat-radio-button value="PESQUISA">Pesquisa</mat-radio-button>
                  <mat-radio-button value="ENSINO">Ensino</mat-radio-button>
                  <mat-radio-button value="EXTENSAO">Extensão</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Descrição (obrigatório):</mat-label>
                    <input matInput placeholder="Descrição (obrigatório)"
                      formControlName="descricao" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">                    
                    <mat-label>Data Inicio (obrigatório):</mat-label>
                    <!--[min]="minDateIni" [max]="maxDateIni"-->
                    <input matInput [matDatepicker]="picker" formControlName="dataInicio" placeholder="Data Inicio (obrigatório)"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">                  
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim (obrigatório):</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dataFim" placeholder="Data Fim (obrigatório)"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto (R$) (obrigatório): </mat-label>
                    <input matInput maxlength="5" min="0" placeholder="Valor bruto (R$) (obrigatório)" type="number"
                      formControlName="valorBruto" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row" >
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline" matTooltip="Carga horária semanal" matTooltipPosition="right">
                    <mat-label>Qtd. Horas semanais (obrigatório):</mat-label>
                    <input matInput placeholder="Qtd. Horas semanais (obrigatório)" type="number"
                      formControlName="horaSemanal" required/>  
                      <mat-error *ngIf="
                        convenioForm.controls['horaSemanal'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>{{max_hr_semanais_convenio}}h/semanais.</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Qtd. Horas mensais (obrigatório):</mat-label>
                    <input matInput min="4" placeholder="Qtd. Horas mensais (obrigatório)" type="number"
                      formControlName="horaMensal" required />
                      <mat-error *ngIf="
                        convenioForm.controls['horaMensal'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>{{max_hr_mensais_convenio}}h/mensais.</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <h3>Alocação (obrigatório)</h3>
              <div class="alocacao-row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput placeholder="Horas" type="number"
                      formControlName="horasSolicitadas"/>
                      <mat-error *ngIf="
                      convenioForm.controls['horasSolicitadas'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>{{max_hr_semestrais_convenio}}h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra = !alocacaoExtra" *ngIf="!alocacaoExtra" [disabled]="convenioForm.controls.horasSolicitadas.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas1" />
                      <mat-error *ngIf="
                      convenioForm.controls['horasSolicitadas1'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra2 = !alocacaoExtra2" *ngIf="!alocacaoExtra2" [disabled]="convenioForm.controls.horasSolicitadas1.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra = !alocacaoExtra">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra2">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas2" />
                      <mat-error *ngIf="
                      convenioForm.controls['horasSolicitadas2'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra3 = !alocacaoExtra3" *ngIf="!alocacaoExtra3" [disabled]="convenioForm.controls.horasSolicitadas2.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra2 = !alocacaoExtra2">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra3">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas3" />
                      <mat-error *ngIf="
                      convenioForm.controls['horasSolicitadas3'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra4 = !alocacaoExtra4" *ngIf="!alocacaoExtra4" [disabled]="convenioForm.controls.horasSolicitadas3.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra3 = !alocacaoExtra3">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra4">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas4" />
                      <mat-error *ngIf="
                      convenioForm.controls['horasSolicitadas4'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra5 = !alocacaoExtra5" *ngIf="!alocacaoExtra5" [disabled]="convenioForm.controls.horasSolicitadas4.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra4 = !alocacaoExtra4">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra5">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas5" />
                      <mat-error *ngIf="
                      convenioForm.controls['horasSolicitadas5'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra5 = !alocacaoExtra5" [disabled]="convenioForm.controls.horasSolicitadas5.errors?.max">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>


              <h3>Observações (opcional):</h3>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                  <mat-slide-toggle formControlName="urgente">Urgente</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="btn btn-default">
                    <input type="file" (change)="selecionarArquivo($event)" />
                  </label>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!convenioForm.valid" mat-raised-button color="primary"
                (click)="submeterConvenio(); convenioForm.reset()">
                Enviar
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Cursos </mat-panel-title>
          <mat-panel-description>
            Submeter atividades relacionadas ao cursos de extensão universitária
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="cursoForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome do curso (obrigatório):</mat-label>
                    <input matInput placeholder="Nome do curso (obrigatório)" formControlName="nomeCurso" />
                    <mat-error *ngIf="
                        cursoForm.controls['nomeCurso'].hasError('required')
                      ">
                      Nome do curso <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino (obrigatório):</mat-label>
                    <input matInput placeholder="Instituição de Ensino (obrigatório)" formControlName="instituicaoVinculada" />
                    <mat-error *ngIf="
                        cursoForm.controls['instituicaoVinculada'].hasError(
                          'required'
                        )
                      ">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) (obrigatório):</mat-label>
                    <input matInput placeholder="Coordenador(a) (obrigatório)" formControlName="coordenador" />
                    <mat-error *ngIf="
                        cursoForm.controls['coordenador'].hasError('required')
                      ">
                      Nome do coordenador(a) <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Participação (obrigatório):
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="participacao">
                  <mat-radio-button value="DISCIPLINA">Disciplina</mat-radio-button>
                  <mat-radio-button value="COORDENACAO">Coordenação</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row" style="margin-top: 5px">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Disciplina de participação (opcional):</mat-label>
                    <input matInput placeholder="Disciplina de participação (opcional)" formControlName="disciplina" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Carga horária total de aulas ministradas (obrigatório):</mat-label>
                    <input matInput maxlength="3" min="1" placeholder="Carga horária total de aulas ministradas (obrigatório)" type="number"
                      formControlName="totalHorasMinistradas" required/>
                      <mat-error *ngIf="
                      cursoForm.controls['totalHorasMinistradas'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>{{max_hr_ministradas_curso}} horas. (2 anos)</strong>
                  </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Carga horária total de outras atividades (opcional):</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária total de outras atividades (opcional)" type="number"
                      formControlName="totalHorasOutrasAtividades" />
                      <mat-error *ngIf="
                      cursoForm.controls['totalHorasOutrasAtividades'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>240 horas. (2 anos)</strong>
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto por hora (R$) (opcional):</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto por hora (R$) (opcional)" type="number"
                      formControlName="valorBrutoHora" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto total (R$) (opcional):</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto total (R$) (opcional)" type="number"
                      formControlName="valorBrutoTotal" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Início (obrigatório):</mat-label>
                    <!--[min]="minDateIni" [max]="maxDateIni"-->
                    <input matInput [matDatepicker]="picker2" formControlName="dataInicio" placeholder="Data Início (obrigatório)"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim (obrigatório):</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="dataFim" placeholder="Data Fim (obrigatório)"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <h3>Alocação (obrigatório):</h3>
              <div class="alocacao-row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas" />
                      <mat-error *ngIf="
                      cursoForm.controls['horasSolicitadas'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>{{max_hr_semestrais_curso}}h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra = !alocacaoExtra" *ngIf="!alocacaoExtra" [disabled]="cursoForm.controls.horasSolicitadas.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas1" />
                      <mat-error *ngIf="
                      cursoForm.controls['horasSolicitadas1'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra2 = !alocacaoExtra2" *ngIf="!alocacaoExtra2" [disabled]="cursoForm.controls.horasSolicitadas1.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra = !alocacaoExtra">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra2">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="Semestre" min="1" max="2" type="number" formControlName="semestre2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="Ano" type="number" formControlName="ano2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="Horas" type="number"
                      formControlName="horasSolicitadas2" />
                      <mat-error *ngIf="
                      cursoForm.controls['horasSolicitadas2'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra3 = !alocacaoExtra3" *ngIf="!alocacaoExtra3" [disabled]="cursoForm.controls.horasSolicitadas2.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra2 = !alocacaoExtra2">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra3">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre3" min="1" max="2" type="number" formControlName="semestre3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano3" type="number" formControlName="ano3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas3" type="number"
                      formControlName="horasSolicitadas3" />
                      <mat-error *ngIf="
                      cursoForm.controls['horasSolicitadas3'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra4 = !alocacaoExtra4" *ngIf="!alocacaoExtra4" [disabled]="cursoForm.controls.horasSolicitadas3.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra3 = !alocacaoExtra3">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra4">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre4" min="1" max="2" type="number" formControlName="semestre4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano4" type="number" formControlName="ano4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas4" type="number"
                      formControlName="horasSolicitadas4" />
                      <mat-error *ngIf="
                      cursoForm.controls['horasSolicitadas4'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra5 = !alocacaoExtra5" *ngIf="!alocacaoExtra5" [disabled]="cursoForm.controls.horasSolicitadas4.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra4 = !alocacaoExtra4">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra5">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre5" min="1" max="2" type="number" formControlName="semestre5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano5" type="number" formControlName="ano5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas5" type="number"
                      formControlName="horasSolicitadas5" />
                      <mat-error *ngIf="
                      cursoForm.controls['horasSolicitadas5'].hasError(
                        'max'
                      )
                    ">
                    Máximo são <strong>60h/semestre.</strong>
                  </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra5 = !alocacaoExtra5" [disabled]="cursoForm.controls.horasSolicitadas5.errors?.max">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <h3>Observações (opcional):</h3>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                  <mat-slide-toggle formControlName="urgente">Urgente</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="btn btn-default">
                    <input type="file" (change)="selecionarArquivo($event)" />
                  </label>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!cursoForm.valid" mat-raised-button color="primary"
                (click)="submeterCurso(); cursoForm.reset()">
                Enviar
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Regência Concomitante </mat-panel-title>
          <mat-panel-description>
            Submeter atividades relacionadas a Regência Concomitante
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="regenciaForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome do curso (obrigatório):</mat-label>
                    <input matInput placeholder="Nome do curso" formControlName="curso" />
                    <mat-error *ngIf="
                        regenciaForm.controls['curso'].hasError('required')
                      ">
                      Nome do curso <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino Vinculada (obrigatório):</mat-label>
                    <input matInput placeholder="Instituição vinculada" formControlName="instituicao" />
                    <mat-error *ngIf="
                        regenciaForm.controls['instituicao'].hasError(
                          'required'
                        )
                      ">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) (opcional):</mat-label>
                    <input matInput placeholder="Coordenador(a)" formControlName="coordenador" />                    
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Nível (obrigatório):</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="nivel">
                  <mat-radio-button value="GRADUACAO">Graduação</mat-radio-button>
                  <mat-radio-button value="POS_GRADUACAO">Pós-Graduação</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Será o responsável pela disciplina (obrigatório):
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="responsavel">
                  <mat-radio-button [value]="true">Sim</mat-radio-button>
                  <mat-radio-button [value]="false">Não</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Será o único docente da disciplina (obrigatório):
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="unicoDocente">
                  <mat-radio-button [value]="true">Sim</mat-radio-button>
                  <mat-radio-button [value]="false">Não</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row" style="margin-top: 5px">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Disciplina de participação (opcional):</mat-label>
                    <input matInput placeholder="Disciplina" formControlName="disciplinaParticipacao" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Carga horária total de aulas ministradas (opcional):</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária total" type="number"
                      formControlName="totalHorasMinistradas" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Carga horária total de outras atividades (preparação. obrigatório):</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="totalHorasOutrasAtividades" type="number"
                      formControlName="totalHorasOutrasAtividades" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto por hora (R$) (obrigatório):</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto hora-aula" type="number"
                      formControlName="valorBrutoHora" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto total (R$) (obrigatório):</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto total aulas" type="number"
                      formControlName="valorBrutoTotal" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <!--[min]="minDateIni" [max]="maxDateIni"-->
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Inicio (obrigatório):</mat-label>
                    <input matInput [matDatepicker]="picker4" formControlName="dataInicio" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim (obrigatório):</mat-label>
                    <input matInput [matDatepicker]="picker5" formControlName="dataFim" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação (opcional):</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Dias Trabalhados Unicamp (obrigatório):</mat-label>
                    <input matInput placeholder="Dias Trabalhados Unicamp" formControlName="diasTrabalhadosUnicamp" type="number" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Dias trabalhados em outra instituicao (obrigatório):</mat-label>
                    <input matInput placeholder="Dias trabalhados em outra instituicao"
                      formControlName="diasTrabalhadosOutraInstituicao" type="number" />
                  </mat-form-field>
                </div>
              </div>

              <h3>Alocação (obrigatório):</h3>
              <div class="alocacao-row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre" min="1" max="2" type="number" formControlName="semestre" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano" type="number" formControlName="ano" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas" type="number"
                      formControlName="horasSolicitadas" />
                      <mat-error *ngIf="
                        regenciaForm.controls['horasSolicitadas'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>{{max_hr_semestrais_regencia}}h/semestre.</strong>
                    </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra = !alocacaoExtra" *ngIf="!alocacaoExtra" [disabled]="regenciaForm.controls.horasSolicitadas.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre1" min="1" max="2" type="number" formControlName="semestre1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano1" type="number" formControlName="ano1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas1" type="number"
                      formControlName="horasSolicitadas1" />
                      <mat-error *ngIf="
                        regenciaForm.controls['horasSolicitadas1'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>60h/semestre.</strong>
                    </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra2 = !alocacaoExtra2" *ngIf="!alocacaoExtra2" [disabled]="regenciaForm.controls.horasSolicitadas1.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra = !alocacaoExtra">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra2">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre2" min="1" max="2" type="number" formControlName="semestre2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano2" type="number" formControlName="ano2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas2" type="number"
                      formControlName="horasSolicitadas2" />
                      <mat-error *ngIf="
                        regenciaForm.controls['horasSolicitadas2'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>60h/semestre.</strong>
                    </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra3 = !alocacaoExtra3" *ngIf="!alocacaoExtra3" [disabled]="regenciaForm.controls.horasSolicitadas2.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra2 = !alocacaoExtra2">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra3">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre3" min="1" max="2" type="number" formControlName="semestre3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano3" type="number" formControlName="ano3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas3" type="number"
                      formControlName="horasSolicitadas3" />
                      <mat-error *ngIf="
                        regenciaForm.controls['horasSolicitadas3'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>60h/semestre.</strong>
                    </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra4 = !alocacaoExtra4" *ngIf="!alocacaoExtra4" [disabled]="regenciaForm.controls.horasSolicitadas3.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra3 = !alocacaoExtra3">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra4">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre4" min="1" max="2" type="number" formControlName="semestre4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano4" type="number" formControlName="ano4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas4" type="number"
                      formControlName="horasSolicitadas4" />
                      <mat-error *ngIf="
                        regenciaForm.controls['horasSolicitadas4'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>60h/semestre.</strong>
                    </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra5 = !alocacaoExtra5" *ngIf="!alocacaoExtra5" [disabled]="regenciaForm.controls.horasSolicitadas4.errors?.max">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra4 = !alocacaoExtra4">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra5">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre5" min="1" max="2" type="number" formControlName="semestre5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano5" type="number" formControlName="ano5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas5" type="number"
                      formControlName="horasSolicitadas5" />
                      <mat-error *ngIf="
                        regenciaForm.controls['horasSolicitadas5'].hasError(
                          'max'
                        )
                      ">
                      Máximo são <strong>60h/semestre.</strong>
                    </mat-error>
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra5 = !alocacaoExtra5" [disabled]="regenciaForm.controls.horasSolicitadas5.errors?.max">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>


              <h3>Observações (opcional):</h3>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                  <mat-slide-toggle formControlName="urgente">Urgente</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="btn btn-default">
                    <input type="file" (change)="selecionarArquivo($event)" />
                  </label>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!regenciaForm.valid" mat-raised-button color="primary"
                (click)="submeterRegencia(); regenciaForm.reset()">
                Enviar
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>