<div class="grid-container" >
  <h1>Parametrização</h1>
  <mat-card>
    <mat-card-content>
      <form name="form" [formGroup]="form" #f="ngForm">
      <h2>Convênio</h2>
      <div class="grid">     
        <div class="cell"><p>Máximo horas semanais</p></div>
        <div class="cell">
          <mat-form-field appearance="outline">            
            <input formControlName="max_hr_semanais_convenio" matInput placeholder="Máximo horas semanais" [(ngModel)]="parametrizacao.max_hr_semanais_convenio">
          </mat-form-field>
        </div>

        <div class="cell"><p>Máximo horas mensais</p></div>
        <div class="cell">
          <mat-form-field appearance="outline">            
            <input formControlName="max_hr_mensais_convenio" matInput placeholder="Máximo horas mensais" [(ngModel)]="parametrizacao.max_hr_mensais_convenio">
          </mat-form-field>
        </div>

        <div class="cell"><p>Máximo horas semestrais</p></div>
        <div class="cell">
          <mat-form-field appearance="outline">            
            <input formControlName="max_hr_semestrais_convenio" matInput placeholder="Máximo horas semestrais" [(ngModel)]="parametrizacao.max_hr_semestrais_convenio">
          </mat-form-field>
        </div>

    
      </div>

      <h2>Curso</h2>
      <div class="grid">     
        <div class="cell"><p>Máximo horas totais ministradas</p></div>
        <div class="cell">
          <mat-form-field appearance="outline">            
            <input formControlName="max_hr_ministradas_curso" matInput placeholder="Máximo horas totais ministradas" [(ngModel)]="parametrizacao.max_hr_ministradas_curso">
          </mat-form-field>
        </div>

        <div class="cell"><p>Máximo horas semestrais</p></div>
        <div class="cell">
          <mat-form-field appearance="outline">            
            <input formControlName="max_hr_semestrais_curso" matInput placeholder="Máximo horas semestrais" [(ngModel)]="parametrizacao.max_hr_semestrais_curso">
          </mat-form-field>
        </div>

 
      </div>

      <h2>Regência</h2>
      <div class="grid">     
        <div class="cell"><p>Máximo horas semestrais</p></div>
        <div class="cell">
          <mat-form-field appearance="outline">            
            <input formControlName="max_hr_semestrais_regencia" matInput placeholder="Máximo horas semestrais" [(ngModel)]="parametrizacao.max_hr_semestrais_regencia">
          </mat-form-field>
        </div>

        <div class="cell">
          <button mat-button color="primary" (click)="updateParametrizacao()">
            <mat-icon aria-hidden="false" aria-label="save icon">save</mat-icon>
            Salvar
        </button>
        </div>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
</div>
